    <div class="dessert-grid">
      <h2><u>Cake Menu</u></h2>
      <% @@cakes.each do |cake| %>
      <br>
      <img class="dessert-img" src="<%= cake.image %>"/>
      <h3 class="dessert-name"><%= cake.name %></h3>
      <p class="dessert-price">Servings: Dozen Pack</p>
      <p class="dessert-price">$<%= cake.cost %></p>
      <button class="button button--shadow" type="button" name="button">Add to cart</button>
    </div>
    <br>
 <% end %>
 <br>
