<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Cake Menu</h1>
  <%= @cake.name %>
  <img src="<%= @cake.img_front %>" />
  <script src="./public/main.js"></script>
</body>
</html>
