<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Cookie Menu</h1>
  <%= @cookie.name %>
  <img src="<%= @cookie.image %>" />
  <script src="./public/main.js"></script>
</body>
</html>
