<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Cupcake Menu</h1>
  <%= @cupcake.name %>
  <img src="<%= @cupcake.image %>" />
  <script src="./public/main.js"></script>
</body>
</html>
