
<!DOCTYPE html>
<html>
<head>
    <title>Gâteau Sacré</title>
    <link href="main.css" rel="stylesheet"/>
    <link rel="icon" href="http://cdn.onlinewebfonts.com/svg/img_552937.png">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
  <div class="homepage-container">
    <div id="homepage--nav">
      <div class="nav-menu-header">
        <h1>Gâteau Sacré</h1>
      </div>
      <div class="nav-menu--search">
        <img src="/images/Nav-Menu-Logo.png" class="nav-menu--logos1">
        <img src="/images/white-search-icon.jpg" class="nav-menu--logos1">
      </div>
      <div class="nav-menu--links" orientation="horizontal" >
        <ul id="nav-menu--list">
          <li><a href="/">Home</a>
          <a href="/cakes">Shop Cakes</a>
          <a href="/cookies">Shop Cookies</a>
          <a href="/muffins">Shop Muffins</a></li>
        </ul>
      </div>
      <div class="nav-menu--cart">
        <img src="https://static.thenounproject.com/png/16757-200.png" class="nav-menu--logos2">
      </div>
    </div>
  </div>
    <div class="page-contents">
      <%= yield %>
    </div>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
