
<!DOCTYPE html>
<html>
<head>
    <title>Gâteau Sacré</title>
    <link href="./main.css" rel="stylesheet"/>
    <link rel="icon" href="http://cdn.onlinewebfonts.com/svg/img_552937.png">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
  <div class="Homepage-container">
    <nav id="Homepage-container--Nav">
      <div class="Nav-Menu-Header">
        <p>Gâteau Sacré</p>
      </div>
      <div class="Nav-Menu--Search">
        <img src="Nav-Menu-Logo.png" alt="" class="Nav-Menu--logos">
        <img src="white-search-icon.jpg" alt="" class="Nav-Menu--logos">
      </div>
      <div class="Nav-Menu--Links">
        <a href="/">Home</a>
        <a href="/info">About Us</a>
        <a href="/cakes">Shop Cakes</a>
        <a href="/cookies">Shop Cookies</a>
        <a href="/cupcakes">Shop Cupcakes</a>
      </div>
      <div class="Nav-Menu--Cart">
        <img src="cart-icon.jpg" alt="" class="Nav-Menu--logos">
      </div>
    </nav>
  </div>
<div class="Page-Contents">
  <%= yield %>
</div>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
