body {
margin: 0;
height: 100vh;
width: 100vw;
overflow-x: hidden;
background-color: #f2eaa8
}

.page-contents h2 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
}

.About {
  text-align: center;
  font-family: sans-serif;
  padding: 2% 10% 10% 10%;

  background-color: #eed3e4;
}
.About h1 {
  font-family:  'Satisfy', cursive;
}

.homepage-container {
  background-color: #ffffff;
}

#homepage--nav {
  height: 20vh;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 20% 60% 20%;
  margin: 0;
  grid-template-areas:
  "header header header"
  "search links cart"
}

.nav-menu-header {
  grid-area: header;
  padding-top: 1%;
}

.nav-menu-header h1 {
  font-family: 'Satisfy', cursive;
  margin: 0;
  text-align: center;
  font-size: 4em;
}

.nav-menu--search {
  grid-area: search;
}

.nav-menu--links {
  grid-area: links;
  padding-top: 8px;
}


#nav-menu--list {
  margin: 0;
  padding: 0;
}

#nav-menu--list li {
  text-align: center;
  word-spacing: 30px;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: .1em;
  padding: 15px 10px;
  font-weight: bold;
}

#nav-menu--list li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.2em;
  color: #000000;
}

#nav-menu--list li a:hover {
  text-shadow: 2px 2px 8px #ffc107;
  cursor: pointer;
}


.nav-menu--cart {
  grid-area: cart;
}

.nav-menu--logos1 {
  width: auto;
  height: 30px;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav-menu--logos1:hover {
  cursor: pointer;
}

.nav-menu--logos2 {
  width: auto;
  height: 30px;
  float: right;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-menu--logos2:hover {
  cursor: pointer;
}

.dessert-grid {
  background-color: #eed3e4;
  padding: 2% 0 2% 0;
}

.dessert-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
}

.dessert-name {
  text-align: center;
  font-family: sans-serif;
}

.dessert-price {
  text-align: center;
  font-family: sans-serif;
}

.page-contents {
  padding-top: 2%
}

.button {
  padding: 10px 22px;
  color: #fff;
  background-color: #060503;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

.button--shadow {
  color: #000000;
  border-radius: 5px;
  transition: box-shadow 0.2s, background 0.1s;
  border-bottom: 4px solid #504d4d;
  box-shadow: 0 0 0 2px #f4f4f4, 2px 2px 0 2px #9d9d9d;
  background-color: #b8bec1;
}

.button--shadow:hover {
  box-shadow: 0 0 0 2px #f4f4f4, 0 0 0 4px #5e5e5e;
}

.button--shadow:active {
  background: #7f7f7f;
}
