body {
margin: 0;
height: 100vh;
width: 100vw;
background-color: #c4c4c4;
overflow-x: hidden;
}

#homepage--nav {
  height: 20vh;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 20% 60% 20%;
  margin: 0;
  margin-bottom: 13px;
  grid-template-areas:
  "header header header"
  "search links cart"
}

.nav-menu-header {
  grid-area: header;
  padding-top: 2%;
}

.nav-menu-header h1 {
  font-family: 'Satisfy', cursive;
  margin: 0;
  text-align: center;
  font-size: 3em;
}

.nav-menu--search {
  grid-area: search;
}

.nav-menu--links {
  grid-area: links;
  padding-top: 8px;
}

#nav-menu--list {
  margin: 0;
  padding: 0;
}

#nav-menu--list li {
  float: left;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: .3em;
  padding: 15px 10px;
  font-weight: bold;
}

#nav-menu--list li a {
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  font-size: 1.2em;
  color: #162d3c
}

#nav-menu--list li a:hover {
  color: #e7c04b;
  cursor: pointer;
}


.nav-menu--cart {
  grid-area: cart;
}

.nav-menu--logos1 {
  width: auto;
  height: 30px;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.nav-menu--logos1:hover {
  cursor: pointer;
}

.nav-menu--logos2 {
  width: auto;
  height: 30px;
  float: right;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-menu--logos2:hover {
  cursor: pointer;
}

.homepage-container--art {
  width: 100vw;
  margin: 0
}

.homepage-container--art img{
  width: 100%;
}

#about-container {
  text-align: center;
  padding: 0 10% 0 10%;
  margin-top: 5%;
  font-family: sans-serif;
}

#about-container h2 {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
}
